*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  font-family: NotoSans;
}
li{
  list-style: none;
}

@font-face{
  font-family: Lobster;
  src: url(../fonts/Lobster/Lobster-Regular.ttf)
}
@font-face{
  font-family: NotoSans;
  src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf)
}
@font-face{
  font-family: NotoSans;
  src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
  font-weight: bold;
}

h1, h2, h3{
  font-family: Lobster;
}

h1{
  font-size: 72px;
  color: #ffffff;
}

h2{
  font-size: 48px;
  color: #660000;
  text-transform: uppercase;
}
h3{
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}


p{
  font-family: NotoSans;
}

.container{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.chamada{
  display: flex;
  flex-direction: column;
}
.chamada>p{
  font-size: 18px;
  color: #440000;
  margin-bottom: 15px;
}
.btn-chamada{
  background: #009918;
  margin: 0 auto;
  width: 340px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.texto-btn-chamada{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  line-height: 0;
  animation: piscar 1s infinite;
  text-transform: uppercase;
}

.seta-chamada{
  position: absolute;
  right: 30px;
  animation: piscar 1s infinite;
}

.btn-chamada:hover .texto-btn-chamada, .btn-chamada:hover .seta-chamada {
  animation: piscar 0.4s infinite;
}

@keyframes piscar{
  50%{
    visibility: collapse;
  }
  100%{
    visibility: hidden;
  }
}

img{
  display: block;
  max-width: 100%;
}

/* NAV */

.sobre-nav{
  background: #880D0D;
  padding: 10px 0;
  color: #ffffff; 
}

.menu{
  background: #440000;
  padding: 16px 0;
}

.menu-logo{
  flex: 1;
}

.menu-nav{
  display: flex;
  align-items: center;
}

.menu-nav ul li{
  display: inline-block;
  position: relative;
}

.menu-nav ul li a{
  font-size: 14px;
  padding: 10px 15px;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu-nav ul li a:hover{
  border-bottom: 3px solid #664444;
}

.menu-nav ul li:nth-child(2)::before, .menu-nav ul li:nth-child(3)::before{
  content: '';
  top: 5px;
  width: 1px;
  height: 13px;
  background: #664444;
  position: absolute;
}

/* CAPA */

.capa{
  padding: 100px 0;
  background: url(../imagens/foto-capa.png);
  background-size: cover;
  text-align: center;
}

.capa p{
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.promocao{
  background: url(../imagens/fundo-promocao.png);
  background-size: cover;
  padding: 60px 0;
}
.promocao .container{
  flex-direction: column;
  text-align: center;
}

.banner{
  position: relative;
  margin: 30px auto;
  max-width: 339px;
  max-height: 339px;

}

.texto-banner{
  display: none;
}

.banner:hover .texto-banner{
  position: absolute;
  background: rgba(45, 23, 23, 0.9);
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
}

.valor-original{
  color: red;
}
.valor-promocao{
  color: #00D422;
}

.banner img{
  border-radius: 10px;
  box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.25);
}

/* CARDAPIO */

.cardapio{
  background:#440000;
  padding: 60px 0;
  text-align: center;
}

.cardapio .container{
  padding: 0;
}
.cardapio h2{
  color:#ffffff;
  
}


.card{
  position: relative;
  margin: 65px 10px 30px 10px;
  max-width: 340px;
  max-height: 340px;

}

.texto-card{
  display: none;
}

.card:hover .texto-card{
  position: absolute;
  background: rgba(45, 23, 23, 0.9);
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
}

.foto-card{
  border-radius: 10px;
  box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.25);
}

.icone{
  position: absolute;
  left: 38.235%;
  top:-35px;
}

.cardapio .texto-chamada{
  color: #ffffff;
  margin-top: 30px;
}

/* VISITE */

.visite{
  background: url(../imagens/fundo-contato.svg);
  background-size: cover;
  padding: 60px 0;
}

.visite .container{
  align-items: center;
}

.foto-visite{
  max-width: 50%;
}

.visite-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.visite-texto h2{
  margin-bottom: 30px;

}

/* FOOTER */

footer{
  background: #880D0D;
  padding: 25px 0;
}

.texto-footer{
  flex-grow: 1;
  color: #ffffff;
  font-size: 14px;
}

.social{
  display: flex;
  align-items: center;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

/* RESPONSIVO */

@media(max-width: 768px){

  .sobre-nav .container{
    justify-content: center;
  }

  .menu .container{
    flex-direction: column;
    align-items: center;
  }
  .menu-nav ul{
    margin-top: 15px;;
  }

  .cardapio .container{
    flex-direction: column;
  }
  .card{
    margin: 0 auto;
    margin-top: 65px;
  }

  .visite .container{
    flex-direction: column;
  }
  .visite-texto{
    margin-top: 30px;
  }

}